body{
    margin: 0;
    overflow: hidden;
    background: black;
}

*{
    box-sizing: border-box;
}

.calculator{
    width: 375px;
    height: 90vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
    
}
.display input{
    padding: 30px;
    width: 375px;
    height: 12vh;
    border: none;
    background-color: #e6e7ee;
    color: #31344b;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    font-size: 28px;
}

.num-input{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.calculator-input input{
    width: 93.75px;
    height: 93.75px;
    background-color: #e6e7ee;
    color: #31344b;
    border: none;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    cursor: pointer;
    font-size: 20px;
}

.calculator-input input:hover{
    color: #31344b;
    background-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.calculator-input{
    display: flex;
}

.operations{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
